//SOMMAIRE
// I-Navigateur
// II-FAQ

// I-Navigateur
#indication {
    display: none;
    color:#BCC2CB;
    position: fixed;
    background-color:#444d58;
    text-align:center;
    width: 150px;
    border-radius: 7px;
    border: 2px solid #e7e7e7;
    line-height: 35px;
    z-index: 2;
    @media(max-width: 769px){
     display:none!important;
    }
}

#indication:before {
    position: absolute;
    top: -10px;
    left: 20px;
    right: auto;
    display: inline-block !important;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #444d58;
    border-left: 10px solid transparent;
    content: '';
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
}




/* Stacktable */
.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
  .stacktable.small-only:first-child { display: none; }
}

.login-form img{
  max-width: 100%;
  height:auto;
}

footer {
  margin: 30px;
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  border-top: solid 1px #ccc;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
}

#upload-progress {
  opacity: 0;
}

h1#beta {
  position: relative;
  left: 70px;
  top: -75px;
  @media(max-width: 768px){
    display:none;
  }
}

.navbar-default {
  color: #BCC2CB;
  background: #444d58;
}

.navbar-nav > .active > a {
  background: #3b434c;
  color: #a2abb7;
}

.navbar-default .navbar-nav > li > a {
  color: #BCC2CB;
}

// .navbar-nav{
//   @media (min-width: 768px){
//     float: none;
//     display: block;
//     margin: auto;
//     width: 65%;
//   }
// }

.navbar {
  border-radius: 0px;
  border: 0px;
  .visibleSmart{
    @media(min-width: 768px){
      display: none;
    }
  }
  .navbar-home {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    @media(min-width: 768px){
      display: none;
    }
  }
}



.navbar-default .navbar-nav > {
  li > a {
    &:hover, &:focus {
      color: #ffffff;
      background: #55616f !important;
    }
  }
  .active > a {
    color: #f1f1f1;
    background: #4E5966;
    &:hover, &:focus {
      color: #f1f1f1;
      background: #4E5966;
    }
  }
}

.page-header{
    margin-bottom: -20px !important;
   .page-header-top .top-menu {
    margin: 0;
    padding: 0;
    float: none;
    position: absolute;
    top: 17px;
    right: 5px;
  }
}

.table .btn {
  @media(max-width: 768px){
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  margin-right: 2px;
  &.btn-xs {
    padding: 4px 7px 5px 7px;
    font-size: 16px;
    line-height: 1.3;
    > i {
      font-size: 16px !important;
    }
  }
}

.portlet > .portlet-title > .actions > .btn, .portlet > .portlet-title > .actions > .btn.btn-sm, .portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 2px;
    margin-bottom: 2px;
}


.portlet.light {
    margin-top: 10px;
}


// II-FAQ
.portlet-body{
  .panel-heading{
    cursor: pointer;
    h4{
      font-weight: 900;
    }
  }
  .panel-body{
    h5{
      font-size: 1.2em;
      font-weight: 500;
      color: #4db3a2;
    }
  }
}

/* CSS POUR MOBILE */
@media(max-device-width: 768px){
  .portlet.light > .portlet-title {
      text-align: center;
      .actions{
        float: none;
      }
  }
  .btn, .btn-xs, .btn-sm, .btn-primary {
    margin: 2px;
  }

}
/* PAGE PLANNING */
.loading-gif{
  text-align: center;
  display: none;
}

.loading-gif img{
  max-width: 100%;
}